body {
	background-color: #122845;
}
 
.intestazione {
	padding: 15px;
	background-color: #020c1a;
	text-align: center; 
	font-size: 45;
	color: white;
}
 
h2 {
	margin-top: 20px;
	margin-left: 10px;
	font-size: 35;
	color: white;
}
 
.ppadding {
	padding: 20px;
	color: white;
	text-align: justify;
	font-size: 22;
}

.andrea {
	width: 40%;
	heigth: auto;
	border-radius: 50%;
	margin-top: 20px;
}

li {
	color: white;
	margin-left: 15px;
	padding: 10px;
	font-size: 22;
}
 
.logoIG{
	margin-left: 15px;
	width: 4%;
	heigth: auto;
	border-radius: 50%;
}
 
.logoGithub{
	width: 4%;
	heigth: auto;
	border-radius: 50%;
}

.copyr {
	color: white;
	margin-left: 20px;
}